.medium-underline {
    font-size: 1.5em;
    text-decoration: underline;
}

.large-ln {
    line-height: 2em;
}

.text-center {
    text-align: center;
}

h1, h2 {
    color: darkgreen;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

label {
    font-weight: bold;
    color: darkred;
}

form input[type=text] {
    background-color: lightblue;
}

li>ul>li {
    color: red;
}

a:visited {
    color: lightblue;
}